:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}
p{
    font-size: 15px;
    font-weight: 400;
}
h1{
    font-size: 25px;
    font-weight: 500;
}
h2{
    font-weight: 400;
    font-size: 12px;
}
img{
    width: 24px;
}
body{
    display: flex;
    /*gap: 1rem;*/
    background-color: var(--light-grey);
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    height: 100vh;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 24px 14px 27px 29px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 14px 20px 14px;
}
.search img{
    padding: 13px;
    background-color: var(--light-green);
    border-radius: 12px 0 0 12px;
}
input{
    width: 222px;
    height: 50px;
    background-color: var(--light-green);
    border-radius: 0 12px 12px 0;
    border: none;
    outline: 0;
}
ul{
    margin: 21px 0 0 27px;
}
li{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-top: 34px;
}
li:first-child{
    margin-top: 0;
}
li img{
    margin-right: 13px;
}
section{
    display: flex;
    justify-content:space-between;
    background-color: var(--light-green);
    padding: 12px;
}
.info img{
    position: fixed;
    margin-right: 50px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.info p,h2{
    margin-left: 54px;
}
.perfil{
    width: 45px;
    height: 45px;
    border-radius: 12px;
}
.container{
    margin: 18px 0 0 18px;
}
